@*{
    DateTime currentTime = DateTime.Now;
    var user = ViewBag.user;
}
@model ProjectModel;
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Create Project</h2>

            <form method="post" action="/Project/AddProject">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" id="author" name="Author" value="@user" readonly>
                </div>

                <input type="hidden" class="form-control" id="time" name="Time" value="@currentTime">

                <button type="submit" class="btn btn-primary mt-3">Create</button>
            </form>
        </div>
    </div>
</div>*@

@{
    DateTime currentTime = DateTime.Now;
    var user = ViewBag.user;
    var isValid = ViewBag.isValid;
}
@model ProjectModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Create Project</h2>

            <form method="post" asp-action="AddProject">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    @if (isValid)
                    {
                        <span asp-validation-for="Name" class="text-danger"></span>
                    }
                    
                </div>
                <div class="form-group">
                    <label asp-for="Author">Author</label>
                    <input asp-for="Author" class="form-control" id="author" value="@user" readonly />
                </div>
                <input type="hidden" asp-for="Time" value="@currentTime" />

                <button type="submit" class="btn btn-primary mt-3">Create</button>
            </form>
        </div>
    </div>
</div>