@{
    DateTime currentTime = DateTime.Now;
    var user = ViewBag.user;
}
@model ProjectModel;
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Update Project</h2>
            <form method="post" action="/Project/AddProject">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="Name" >
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" id="author" name="Author" value="@user" readonly>
                </div>

                <input type="hidden" class="form-control" id="time" name="Time" value="@currentTime">

                <button type="submit" class="btn btn-primary mt-3">Create</button>
            </form>
        </div>
    </div>
</div>